<div class="container-fluid contrast-panel-bg">
    <div class="container">
        <div class="contrast-panel">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right right-size">
                    <div class="skip">
                        <a href="#content">Skip to content</a>
                    </div>
                    <div class="text-size">
                        <span>Text size: </span>
                        <a class="small" href="#">A</a> {# 16px #}
                        <a class="medium" href="#">A</a> {# 20px #}
                        <a class="large" href="#">A</a> {# 24px #}
                    </div>
                    <div class="contrast-options">
                        <span>Colour: </span>
                        <a class="normal" href="#">C</a>
                        <a class="high-contrast" href="#">C</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>