{% set children = entry.children.showInNavigation(true) %}

<div class="row row-flex">
    {% for child in children.all() %}
        {% include '_partials/listing-card' with { entry: child } %}
    {% endfor %}
</div>
