<div id="cookiesnotice">To make the site work well we store little bits of information on your computer called cookies.
    They're not dangerous or creepy - just useful. Read our <a href="/privacy-policy">cookie policy</a> to find out
    more.
</div>
