<h1>{{ entry.altTitle ?: entry.title }}</h1>

{% if entry.type == 'news' %}<p class="date">{{ entry.postDate.format('jS F Y') }}</p>{% endif %}

{% if entry.intro %}
    <div class="intro">
        {{ entry.intro }}
    </div>
{% endif %}

{% include '_partials/matrix' with { matrix: entry.body } %}
