<div id="site-search">
	<form action="/search" method="get">
		<div class="row no-gutters">
			<div class="col-xs-7 col-md-9">
				<input type="text" name="q" id="keywords" placeholder="Search..." class="text" />
			</div>
			<div class="col-xs-5 col-md-3">
				<input type="submit" value="Search" class="button button-full" />
			</div>
		</div>
	</form>
</div>
