.contrast-panel-bg {
    background-color: $contrast-panel-bg;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.contrast-panel {
    .right-size {

        .contrast-options {
            margin-left: 10px;

            .normal {
                background-color: #fff;
                border: 1px solid $brand-primary;
            }

            .high-contrast {
                background-color: $yellow;
                border: 1px solid #000;
            }

            a {
                padding: 2px 7px;
            }
        }

        .text-size {
            margin-left: 10px;

            .small {
                font-size: 16px;
            }
            .medium {
                font-size: 20px;
            }
            .large {
                font-size: 24px;
            }
        }

        .skip {
            a {
                color: #000;
                text-decoration: underline;
            }
        }

        div {
            max-width: 50%;
            display: inline-block;
        }
    }
}