<div id="overlay-bar">
    <a href="#" id="overlay-bar-open-menu" class="open-overlay"><i class="fal fa-fw fa-bars"></i></a>
    <a href="/" id="overlay-bar-logo">
        <img src="/skin/overlay-logo.png" alt=""/>
    </a>
</div>
