footer#site-footer {
    ul {
        margin-bottom: 10px;

        li {
            line-height: 20px;
        }
    }

    div#contact-details {
        font-size: 1.2rem;
        padding-top: 10px;
        text-align: center;

        @media (min-width: $screen-md-min) {
            text-align: left;
        }

        p {
            line-height: 20px;
            margin-bottom: 10px;
        }
    }

    nav#info {
        padding-top: 10px;

        ul {
            font-size: 1.2rem;
            padding: 0;
            text-align: center;

            @media (min-width: $screen-md-min) {
                text-align: right;
            }

            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }

    ul#social {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    p {
        font-size: 1.2rem;
    }

    p#bluestorm {
        text-align: center;

        @media (min-width: $screen-md-min) {
            line-height: 32px;
            text-align: right;
        }

        a {
            color: #333;

            img {
                display: inline-block;
            }
        }
    }
}
