{% extends '_layout' %}

{% block bodyClass %}home{% endblock %}

{% block content %}
	<div class="container">
		{% include '_partials/banner' %}

		{% include '_partials/pagefields' %}
	</div>
{% endblock %}
