h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

h1 {
    color: $brand-primary;
    font-family: $font-family-sans-serif;
}

h2 {
    color: $brand-primary;
    font-family: $font-family-sans-serif;
}

p,
ul,
ol {
    margin: 0 0 20px;
}

.intro {
    color: $intro-color;
    font-size: 22px;
    line-height: 32px;
}

a,
a:link,
a:active {
    text-decoration: none;
    transition: color .25s ease-in-out;
}
