{% includeJsFile '/dist/app.js' %}
{% includeCssFile '/dist/app.css' %}

{% extends '_message' %}

{% set title = 'Page Not Found' %}

{% block content %}
	<h1>Page Not Found</h1>

	<div class="intro">
		<p>Sorry, we couldn't find the page you were looking for.</p>
	</div>

	<p>Here's a few things you could try:</p>

	<ul>
		<li>If you typed the URL directly, make sure the spelling is correct.</li>
		<li>Visit our <a href="{{ siteUrl }}">homepage</a> as the link is possibly outdated.</li>
	</ul>

	<p>
		<a href="javascript:history.go(-1);"><i class="fa fa-fw fa-chevron-left"></i> Back</a>
	</p>
{% endblock %}
